.banner {
  text-align: center;
}

.banner img {
  max-width: 100%;
  height: auto;
}

.vertical-section {
    display: grid;
    place-items: center; /* Align items vertically and horizontally at the center */
    height: 100vh; /* Set the height of the section to utilize the full viewport height */
  }

.date-picker {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .date-picker li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
  }
  
  .time-picker {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
  .time-picker li {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
  }
  
  .time-picker li:hover {
    background-color: #f1f1f1;
  }
  
  .time-picker li.selected {
    background-color: #693f7567;
  }

  
  #counterValue {
    margin: 0 10px;
    font-size: 18px;
  }

  .outer-picker ul{
    list-style:none;
    margin:0;
    padding:0;
    display:block;
  }
  
  .outer-picker ul li{
    float:left;
    margin:10px;
    height:100px;
    width:50px; 
    font-family:'Inter';
    font-size:16px;
    text-align:center;
    transition:all 0.25s ease-in;
  }
  
  .outer-picker ul li h2{
    display:block;
    color:#8d8d8d;
    font-family:'Inter';
    font-size:14px;
    margin:10px 0;
  }
  
  .outer-picker ul li.active h2{
    display:block;
    color:white;
    font-family:'arial';
    font-size:18px;
    margin:5px 0;
  }
  
  .outer-picker ul li.active{
    font-size:26px;
    width:100px;
  }
  .counter-buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .counter-bar {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 10%;
    width: 150px;
    height: 150px;
  }

  .movie-container {
    margin: 20px 0;
  }
  
  .movie-container select {
    background-color: #fff;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px 15px 5px 15px;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
  }
  
  .movieSeatContainer {
    perspective: 1000px;
    margin-bottom: 30px;
  }

  .screen {
    position: absolute;
    width: 703.36px;
    height: 145px;
    left: 0px;
    top: 0px;
    fill: transparent;
    stroke: #4D438A;
    stroke-width: 4.32836px;
    opacity: 0.7;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
  }

  .seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  
  .seat.selected-seat {
    background-color: #6feaf6;
  }
  
  .seat.occupied {
    background-color: #fff;
  }
  
  .seat:nth-of-type(2) {
    margin-right: 18px;
  }
  
  .seat:nth-last-of-type(2) {
    margin-left: 18px;
  }
  
  .seat:not(.occupied):hover {
    cursor: pointer;
    transform: scale(1.2);
  }
  
  .showcase .seat:not(.occupied):hover {
    cursor: default;
    transform: scale(1);
  }

  /* seat layout */


  /* seat layout */

  
  .showcase {
    background-color: rgba(0, 0, 0, 0.1);
    padding: 5px 10px;
    border-radius: 5px;
    color: #777;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
  }
  
  .showcase li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px;
  }
  
  .showcase li small {
    margin-left: 10px;
  }
  
  .row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 10px;
    justify-content: center;
  }
  
  p.text {
    margin: 5px 0;
  }
  
  tr td {
    color: #6feaf6;
  }


  .main-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Updated alignment to center */
    padding: 16px;
    gap: 10px;
    width: 212px;
    height: 61px;
    background: #7E72C8;
    border: 1px solid #7E72C8;
    border-radius: 4px;
    color: #fff;
  }

  .main-button-purple {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Updated alignment to center */
    padding: 16px;
    gap: 10px;
    width: 212px;
    height: 61px;
    background: #2F2C44;
    border: 1px solid #2F2C44;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    font-family: 'Inter', sans-serif;
    
  }

  /* email */
  
  #dropdownContainer {
    position: relative;
  }
  
  input[type="email"] {
    width: 200px; 
    padding: 10px;
    background-color: #2F2C44; 
  }
  
  h3 {
    margin-left: 4%;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    align-items: flex-start;
    padding-bottom: 50px;
    width: 100%;
}


h5 {
    font-family: 'Inter', sans-serif;
    font-size: 24px;
}

.dropdown {
  display: inline-block;
}

.dropdown-title {
  margin-top: 0;
}

.dropdown-field {
  width: 200px;
  padding: 5px;
  border: 1px solid #2F2C44;
  border-radius: 4px;
  background-color: #2F2C44;
  color: #fff;
}

#dropdownContainer {
  display: inline-block;
}

#dropdownContainer input[type="email"] {
  width: 200px;
  padding: 5px;
  border: 1px solid #2F2C44;
  border-radius: 4px;
  background-color: #2F2C44;
  color: #fff;
}

section.textfield {
  padding: 0px;
}

section .card-section {
  align-items: flex-start;
}


section.dropdown {
  padding: 0px;
}

table {
  border-collapse: separate;
  border-spacing: 100px;
  padding: 16px;
}

td {
  padding: 0;
}

.title-button {
  display: flex;
  align-items: center;
  width: 100%;

}

article .title-button{
  width: 100%;
  justify-content: space-between;
}

.inline-title {
  margin-right: 10px;
}

.title-container {
  padding-right: 10px;
}

/* Cards */

.card-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 100px;
}

.card-container {
  display: flex;
}  

.card {
  flex: 1;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 300px;
  padding: 20px;
  background: rgba(214, 214, 214, 0.3);
  border-radius: 8px;
}

.card-image {
  width: 300px;
  height: 242px;
  border-radius: 4px;
  margin-bottom: 16px;
}

.card-content {
  text-align: left;
  font-family: 'Inter', sans-serif;

}

.card-title {
  font-size: 24px;
  margin-bottom: 8px;
  font-family: 'Inter', sans-serif;

}

.card-text {
  margin-bottom: 16px;
  font-family: 'Inter', sans-serif;

}

.card-button {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #7E72C8;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Inter', sans-serif;
  align-self: stretch;
}


.button-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  background-image: url('icon-url');
  background-size: contain;
  background-repeat: no-repeat;
}
