h1 {
  font-size: 300%;
}

td,p {
  font-size: 110%;
}

.movieDetails {
  padding-left: 5%;
}
.col {
  width: 350px;
  height: 500px;
}

.details {
  display: flex;
  flex-direction: column;
  padding-left: 2%;
  margin-top: -2.5%;

}

.subDetails {
  flex-direction: row;
  margin-top: -8%;
}

.overview {
  width: 60%;
}

.book {
  margin-top: 7%;
  width: 150px;
  height: 80px;
  font-size: 110%;
  border-radius: 10px;
  background-color: #6f60cf;
}