.snackCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 1%;
  border: 0px solid;
  border-radius: 5%;
  background-color: #D6D6D64D;
}
.name {
  margin-top: -2%;
}
.price {
  margin-top: -2%;
}
.add {
  margin-left: -15%;
  margin-right: 15%;
}
.remove {
  margin-left: 15%;
}
.details {
  margin-top: -60%;
}
.selectItem {
  width: 20px;
  height: 20px;
  border-radius: 10%;
  cursor: pointer;
  background-color: #D6D6D64D;
}

.snack {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10%;
  width: 150px;
  height: 150px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px;
  gap: 10px;
  width: 50%;
}

.extras {
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
}

.confirm {
  margin-top: 5%;
  margin-left: 70%;
  font-size: 110%;
  background-color: #7E72C8;
  border: none;
  height: 50px;
  width: 180px;
  cursor: pointer;
}