.snackCard {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.add {
  margin-right: 15%;
}
.remove {
  margin-left: 15%;
}
.details {
  margin-top: -60%;
}
.selectItem {
  width: 30px;
  height: 30px;
  border-radius: 10%;
  cursor: pointer;
}
.snack {
  display: flex;
  flex-direction: column;
  margin: 10px;
  border-radius: 10%;
  width: 150px;
  height: 150px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 16px;
  gap: 10px;
  width: 50%;
}

.extras {
  justify-content: center;
}

.col {
  display: flex;
  flex-direction: row;
  width: 150px;
  height: 150px;
}