:root {
  --background: #1E1E1E;
  --barPrimary: #2F2C44;
  --buttonPrimary:#7E72C8;
  --buttonSecondary:#949494;
  --textColour: #ffffff;
  --navHeight: 102px;
}

body {
    background-color: var(--background);
    margin: 0;
    font-family: 'Inter', sans-serif;
  }

  nav {
    box-sizing: border-box;
    background-color: var(--barPrimary);
    text-align: right;
    font-size: 20px;
    color: var(--textColour);
    position: absolute;
    width: 100%;
    padding: 5px;
    height: var(--navHeight);
  }

  h2 {
      float: left;
      position: relative; 
      padding-inline: 10px;
  }

  section {
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
    padding-top: var(--navHeight);
    color:var(--textColour);
    margin-bottom: 16%;
  }

  button {
    padding-inline: 10px;
    padding-top: 50px;
    position: relative;
  }

  footer {
    box-sizing: border-box;
    background-color: var(--barPrimary);
    padding: 10px;
    text-align: center;
    color: var(--textColour);
    position: fixed;
    bottom: 0;
    width: 100%;
    height:8%
  } 

  nav a {
    text-decoration: none;
    display: inline;
    width: 83px;
    height: 29px; 
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    color: var(--textColour);
    flex:content;
    order: 1;
    flex-grow: 0;
    background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
}

nav li {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;

}

nav ul {
     background-color: transparent;
     display: flex;
    justify-content:flex-end;
    align-items:center;
    padding-right: 10px;
}

a:hover {
    color: var(--buttonPrimary);
    background-color: transparent;
    border: none;
}

/* Julia's goofy aaah CSS oterwise known as the movie cards */

.container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 2% 2%;
  margin: 0;
}

.section {
  flex-basis: 100%;
  padding: 10px;
  background-color: transparent;
  
}

.limit {
  width: 70%;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin: 16px;
  gap: 16px;
}

.col {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
  background-color: transparent;
  border: 1px solid black;
  text-align: center;
  border-radius: 20px;
  width: 300px;
  height: 400px;
  

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0; 
}

.col img {
  object-fit: cover;
  width: 100%;
  height: 100%;

}

/* The end of */
