body {
    background-color: powderblue;
  }

  h1 {
    color: blue;
  }

  p {
    color: red;
  }

  #mybutton{
    cursor: pointer;
  }

  .buttons button{
      width: 120px;
      height: 50px;
      background-color: royalblue;
      border: none;
      border-radius: 30px;
      color: #FFFFFF;
      font-size: 18px;
      cursor: pointer;
      margin: 10px;
  }
  
  .buttons button:hover{
      background-color: seagreen;
  }